<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vente.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <vente.My.MySettings>
            <setting name="newlic" serializeAs="String">
                <value>﻿&lt;?php
$licencja = $_GET['ID'];

// Nazwa pliku, do którego chcemy dodać nową linię
$filename = 'License.ini';

// Tekst, który chcemy dodać jako nową linię
$newLine = $licencja;

// Otwieramy plik do zapisu w trybie "append" (dodajemy nową zawartość do końca pliku)
$file = fopen($filename, 'a');

// Dodajemy nową linię tekstu do pliku
fwrite($file, "\n" . $newLine);

// Zamykamy plik
fclose($file);

// Wyświetlamy komunikat o powodzeniu
echo 'Done';
?&gt;</value>
            </setting>
            <setting name="RM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="newstatus" serializeAs="String">
                <value>&lt;?php
$licencja = $_GET['ID'];

// Nazwa pliku, do którego chcemy zapisać nową licencję
$filename = 'AccountStatus.ini';

// Zapisujemy nową licencję do pliku, zastępując istniejącą zawartość
file_put_contents($filename, $licencja);

// Wyświetlamy komunikat o powodzeniu
echo 'Done';
?&gt;</value>
            </setting>
            <setting name="rmUser" serializeAs="String">
                <value />
            </setting>
            <setting name="rmPass" serializeAs="String">
                <value />
            </setting>
        </vente.My.MySettings>
    </userSettings>
</configuration>